# Teach Myself basic python Part 2

loops

In [1]:
num = [1,2,3,4]

In [3]:
for i in num:
    print(i)

1
2
3
4

In [4]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [5]:
listku = range(0,10)

In [6]:
listku

range(0, 10)

In [7]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
del num

In [2]:
num = [1,2,3,4,5]

In [3]:
[i*2 for i in num]

[2, 4, 6, 8, 10]

map : iterate input/element to function, input should be a list / tuple / iterable element

In [19]:
def num(number):
    return number+5

In [20]:
listmap = [1,2,3,4,5]

In [21]:
list(map(num,listmap))

[6, 7, 8, 9, 10]

lambda simplify function into 1 line with lambda input:output, can have multiple input and output

In [22]:
x=lambda num: num+1

In [23]:
x(2)

3

In [24]:
y = lambda inp1,inp2:inp1+inp2*100

In [25]:
y(1,5)

501

In [26]:
listlambd = []

In [27]:
listin = [1,2,3,4,5]

In [28]:
listlambd = map(y,listin)

In [29]:
listlambd

In [34]:
x = list(map(lambda input1:input1+100,listin))

In [35]:
x

[101, 102, 103, 104, 105]

In [36]:
list(map(y,listin,listin))

[101, 202, 303, 404, 505]

In [37]:
num1 = [10,20,30,40]

In [41]:
num2 = [1,2,3,4]
num3 = [5,6,7,8]

lambda multiple input (2 input), with 1 output and map correspond number list to list

In [39]:
list(map(lambda n1,n2:n1+n2+100,num1,num2))

[111, 122, 133, 144]

In [42]:
listlambd = list(map(lambda n1,n2,n3:n1+n2*n3/100,num1,num2,num3))

In [43]:
listlambd

[10.05, 20.12, 30.21, 40.32]

lambda with multiple input and multiple output

In [47]:
myfunc = lambda in1,in2,in3:((in1/in2),(in2/in3),(in1/in3))

In [48]:
myfunc(1,2,3)

(0.5, 0.6666666666666666, 0.3333333333333333)

In [52]:
listku = list(map(myfunc,[1,2,3],[4,5,6],[7,8,9]))

In [53]:
listku

[(0.25, 0.5714285714285714, 0.14285714285714285),
 (0.4, 0.625, 0.25),
 (0.5, 0.6666666666666666, 0.3333333333333333)]

filter : function to filter any iterable element (array, list, tuple) to function which return True

In [70]:
inputku = [1,2,3,4,5,6,7,8,9,100]

In [72]:
list(filter(lambda input1:input1%2==0,inputku))

[2, 4, 6, 8, 100]

array checking

In [73]:
'x' in [1,2,3]

False

In [74]:
'x' in ['x','y','z']

True

In [75]:
tuplist = [(1,2),(3,4),(5,6)]

In [76]:
for i in tuplist:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [77]:
index1 = []
index2 = []
for (a,b) in tuplist:
    index1.append(a)
    index2.append(b)

In [78]:
index1

[1, 3, 5]

In [79]:
index2

[2, 4, 6]

In [80]:
index1[0]

1