## Teach myself Basic Data Variables Part.1

#### Print char array

In [18]:
a = 'hello'

In [19]:
a

'hello'

In [20]:
a[1]

'e'

####  Slice Array
#### Slice correspond to index where it begins and end by colons

In [21]:
a = '123456'

Array a[Index Start:Index End]

In [22]:
a[:]

'123456'

a[empty=index 0:empty=beyond]

In [24]:
a[:4]

'1234'

In [25]:
a[3:]

'456'

In [26]:
a[0:3]

'123'

#### List : could hold any variable like string, integer, etc, could be appended and replaced (mutable)

In [41]:
a = []

In [28]:
b = 10

list integer append

In [42]:
a.append(b)

In [43]:
a

[10]

In [44]:
c = 35

In [45]:
a.append(c)

In [46]:
a

[10, 35]

list string append

In [49]:
listchar = ['a','s','d']

In [50]:
listchar.append('q')

In [51]:
listchar

['a', 's', 'd', 'q']

#### slice list

In [53]:
listchar[0]

'a'

In [54]:
listchar[:2]

['a', 's']

In [55]:
listchar[1:2]

['s']

In [56]:
listchar[1]

's'

In [57]:
listchar[1:3]

['s', 'd']

replace list in custom index

In [58]:
listchar[1] = 'replaced'

In [59]:
listchar

['a', 'replaced', 'd', 'q']

nested list

In [61]:
listchar[1] = ['w','b']

In [62]:
listchar

['a', ['w', 'b'], 'd', 'q']

In [69]:
listchar[1]

['w', 'b']

In [68]:
listchar[1][0]

'w'

In [67]:
listchar[1][1]

'b'

In [70]:
listchar

['a', ['w', 'b'], 'd', 'q']

In [71]:
newlist = [1,2,3,4,[5,6,7,[8,9,10]]]

In [72]:
newlist

[1, 2, 3, 4, [5, 6, 7, [8, 9, 10]]]

In [73]:
newlist[4]

[5, 6, 7, [8, 9, 10]]

In [74]:
newlist[4][3]

[8, 9, 10]

In [75]:
newlist[4][3][0]

8

#### Dict : dictionary doesnt refer to indexing like list, but rely on identifier instead

In [76]:
my_dict = {'val1':'nilai','val2':123}

In [78]:
my_dict

{'val1': 'nilai', 'val2': 123}

In [79]:
my_dict['val1']

'nilai'

In [80]:
my_dict['val2']

123

list in dict

In [81]:
my_dict2 = {'listku':[1,2,3]}

In [82]:
my_dict2

{'listku': [1, 2, 3]}

In [83]:
my_dict2['listku']

[1, 2, 3]

In [84]:
my_dict2['listku'][0]

1

In [85]:
my_dict2['listku'][1]

2

In [86]:
del my_dict

In [87]:
my_dict = {'val1':{'val2':[1,2,3]}}

In [89]:
my_dict['val1']

{'val2': [1, 2, 3]}

In [90]:
my_dict['val1']['val2'][0]

1

#### Tuple : in oppose of list tuple cannot neither be replaced (immutable) nor added prior its initialization

In [91]:
my_tuple = (4,5,6)

In [92]:
my_tuple[0] = 7

TypeError: 'tuple' object does not support item assignment

In [93]:
my_tuple[0]

4

In [101]:
my_tuple.append(8)

AttributeError: 'tuple' object has no attribute 'append'

#### Set : add or print unique value of list, set is define an unordered collection where can be accessed through loop, but cannot be accessed by index since it doesnt support indexing, set will ignore repeat collection item, if so it will mentioned once only.

In [94]:
set([3,3,3,4,5,4,4,6,7,8,8])

{3, 4, 5, 6, 7, 8}

In [95]:
my_set = {1,2,3}

In [96]:
my_set.add(5)

In [97]:
my_set

{1, 2, 3, 5}

In [98]:
my_set.add(1)

In [99]:
my_set

{1, 2, 3, 5}

In [1]:
x = set([1,1,1,1,])

In [2]:
x

{1}

In [3]:
myset = {'car','animal','bird','human'}

In [4]:
myset

{'animal', 'bird', 'car', 'human'}

In [5]:
for item in myset:
    print(item)

human
bird
car
animal

In [6]:
myset[0]

TypeError: 'set' object does not support indexing

In [7]:
myset.add(100)

In [8]:
myset

{100, 'animal', 'bird', 'car', 'human'}

In [9]:
myset.add('you')

In [10]:
myset

{100, 'animal', 'bird', 'car', 'human', 'you'}